*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar{
    text-align:center;
    background-color: black;
    color: white;

}
a{
    color: rgba(223, 161, 5, 0.884);
    text-decoration: none;
    justify-content: space-around;
    margin: 10px 20px;
    
}

img{
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    border: 1px solid black;
}
h2{
    text-align: center;
    margin-top: 10px;
}
p{
    margin: 2px 10px;
}
.section{
    background-color: aliceblue;
}
.aboutme{
    background-color: aliceblue;
}
.footersec{
    background-color: rgb(83, 80, 80);
    color:aliceblue;
    text-align: center;
}
